@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100,300,400,500,600,700,800,900&display=swap');
:root{
    --main-color: #fb8ccb;
}
*{
    margin: 0;
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #d956f1;
    padding-left: 30rem;
}
section{
    padding: 1rem 5%;
    min-height: 100vh;
}
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: #111;
    text-transform: uppercase;
}
.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background: #111;
    letter-spacing: 0.2rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #108fa2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
    border-right: 0.5rem solid #050000;
}
header .logo{
    text-transform: uppercase;
    color: black;
    font-size: 3rem;
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color: white;
}
header .navbar a{
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
}
header .navbar a:hover{
    letter-spacing: .2rem;
    color: #222;
}
header .follow a{
    font-size: 2.5rem;
    color: #fff;
    margin: 0.7rem;
}
header .follow a:hover{
    color: #222;
}
#menubar{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    background:var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}
.home{
    background: #319bab;
    background: linear-gradient(189deg, #95dfeb 35%,#cceff4 100%);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.home .image{
    flex: 1 1 40rem;
}
.home .image img{
    width: 75%;
    border-radius: 30px;
    border: 5px solid #fdfcfc;
    margin-left: 10rem;
}
.home .content{
    flex: 1 1 40rem;
}
.home .content .hi{
    font-size: 2rem;
    color: #c60f61f4;
}
.home .content h3{
    font-size: 4.5rem;
    color: #111;
    text-transform: uppercase;
}
.home .content h3 span{
    font-size: 4.5rem;
    color: #c60f61f4;;
    text-transform: uppercase;
}
.home .content .info{
    font-size: 2.5rem;
    color:#111;
    padding: 0.5rem 0;
}
.home .content .text{
    font-size: 2rem;
    color:#111;
    padding: 0.5rem 0;
}
.about{
    background: #34c1d6;
    background: linear-gradient(300deg, #92e4f1 35%, #c1edf4 100%);
}
.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}
.about u span{
    color: #C71585;
}
.about .row-1 .image{
    flex: 1 1 25rem;
}
.about .row-1 .image img{
    height: 500px;
    display: inline;
    width: 320px;
    border: #fff;
    border: 1rem solid #111;
    border-radius: 1rem;
}
.about .row-1 .content{
    flex: 1 1 25rem;
}
.about .row-1 .content h3{
    color: #111;
    padding-top: 5rem;
    font-size: 3rem;
}
.about .row-1 .content h3 span{
    color: black;
    font-size: 3rem;
}
.about .row-1 .content p{
    color: #111;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
    flex: 1 1 19rem;
}
.about .row-1 .content .box-container .box  p span{
    color: #C71585;
}
.portfolio .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.0rem;
}
.portfolio .box-container .box{
    flex: 1 1 20rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    border: 0.5rem solid #727171;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}
.portfolio .box-container .box img{
    height: 95%;
    width: 100%;
    object-fit: cover;
}
.portfolio .box-container .box h3{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: #050000;
    text-transform: uppercase;
}
.contact .icons-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.contact .icons-container .icons{
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5);
    border-radius: 0.5rem;
}
.contact .icons-container .icons i{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
}
.contact .icons-container .icons h3{
    color: #111;
    font-size: 2rem;
    padding: 0.5rem 0;
}
.contact .icons-container .icons p{
    color: #666;
    font-size: 1.7rem;
    padding: 0.5rem 0;
}
body{
    background-color: #fff;
    margin: 0;
    font-family: Arial;
}
#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(189, 124, 245);
}
form{
    max-width: 500px;
    width: 80%;
    background-color:white ;
    margin: 17vh auto 0 auto;
    padding: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 3px;
    box-sizing: border-box;
    border: #666;
} 
h1{
    margin: 0;
    text-align: center;
}
label{
    display: block;
    margin: 20px 0;
    padding-left: 10px;
    font-size: 1rem;
}
input , textarea{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    padding-left: 10px;
    border-bottom: 1px solid #D3D3D3;
}
input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid var(--main-color);
}
textarea::-webkit-scrollbar {
    width: 4px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
input[type="submit"] {
    margin-top: 10px;
    width: 90%;
    max-width: 200px;
    background: var(--main-color);
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 3px;
}
.error{
    color: var(--main-color);
}
.error-border{
    border-bottom: 1px solid var(--main-color);
}
#success{
    color: #28A745;
}




@media (max-width:991px)
{
    html{
        font-size: 55%;
    }
    body{
        padding: 0;
    }
    #menubar{
        display: initial;
    }
    header{
        left: -120%;
    }
    header .active{
        left: 0%;
    }

}

@media (max-width:450px)
{    
    html{
        font-size: 50%;
    }
    header{
        width:100%;
    }
}